* {
    margin: 0;
    padding: 0;
  }
     
  .container{
    width: 80%; 
    margin: auto;
    height: 50px;
    margin-left: 30px;
    
  }
  
  .header{
    background-color: #232323;
    height: 70px;
    padding-top: 30px;
    margin: 0;
  }
     
  #logo{
    width: 160px;
      float: left; 
      margin: -19px 0px 0px -246px;
  }

  .nav ul
{
  margin: 0;
}


.nav{
  float: right;
}

.nav a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'Syne Mono', monospace;
}

.nav li{
  display: inline-block;
  padding: 20px;
  padding: 10px 20px 0 20px;
}

.nav button{
    border: solid rgba(40, 209, 221, 0.5);
      background-color: rgba(40, 209, 221, 0.5);
      color: white;
      padding: 12px 30px;
      border-radius: 30px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      margin-top: 10px;
  }

  .showcase{
    background-image: url(imagens/fundoshowcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-attachment: fixed;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 
  }
  
  .caixa{
    width: 450px;
    height: 600px;
    background-color: #232323;
    border: solid 1px  #affff6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 10px;
   margin-bottom: 40%;
    
    
  }
    .titulocadastro h1{
      margin: 10px 10px 10px 50px;
      color: white;
     font-size: 25px;
     margin-top: 20px;
     margin: 20px 10px 20px 50px;
    }

    #mensagem{
        margin: 20px 10px 20px 50px;
        color: white;
        font-size: 15px;
        font-family: 'Syne Mono', monospace;
    }

    input  {
        background: none;
        border: none;
        border-bottom: 1px solid white;
        margin: 0px 10px 15px 50px;
        font-size: 16px;
        width: 300px;
        height: 50px;
        padding: 0 0 0 20px;
        color: white;
        transition: 0.5s;
        margin: 0px 0px 20px 50px;
      }

    .campos h1{
        color: white;
        font-size: 20px;
        font-family: 'Syne Mono', monospace;
        margin: 0px 0px 15px 50px;
    }  

    button{
        border: solid rgba(40, 209, 221, 0.5);
    background-color: rgba(40, 209, 221, 0.5);
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 150px;
    font-family: 'Syne Mono', monospace;
    margin-top: 15px;
    justify-content: center;
    position: absolute; 
    }

    .final1 a{
        color: rgba(13, 239, 255, 0.849);
        text-decoration: none;
        font-size: 14px;
        font-family: 'Syne Mono', monospace;
        margin-top: 80px;
        
    }

  .final1 {
    color: white;
    font-family: 'Syne Mono', monospace;
    text-decoration: none;
    font-size: 14px;
    margin-top: 80px;
    margin-left: 120px;
  }