* {
  margin: 0;
  padding: 0;
}


.container{
  width: 80%; 
  margin: auto;
  height: 50px;
  margin-left: 30px;
}

/* Header */
.header{
  background-color: #232323;
  height: 70px;
  padding-top: 30px;
  margin: 0;
}

#logo{
  width: 160px;
    float: left; 
    margin: -19px 0px 0px -246px;
}


/* NAV */
.nav ul
{
  margin: 0;
}


.nav{
  float: right;
}

.nav a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'Syne Mono', monospace;
}

.nav li{
  display: inline-block;
  padding: 20px;
  padding: 10px 20px 0 20px;
}

.nav button{
    border: solid rgba(40, 209, 221, 0.5);
      background-color: rgba(40, 209, 221, 0.5);
      color: white;
      padding: 12px 30px;
      border-radius: 30px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      margin-top: 10px;
  }


  .showcase{
    background-image: url(imagens/fundoshowcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-attachment: fixed;
}

.container2{
  padding: 140px
  
}

.container2 h2{
  padding-bottom: 20px;
  font-size: 35px;

}

.container2 p{
  width: 600px;
  font-size: 20px;

}



.perfil {
  color: white;
  background-color: black;
  height: 450px;
}



.title {
  padding-bottom: 60px;
}

.data {
  margin-left: 300px;
  padding-top: 70px;
}

.data p {
  font-size: 13px;
}

.content img {
  width: 300px;
    margin-left: 418px;
    border-left: 2px solid #affff6;
    padding-left: 10px;
    position: relative;
    bottom: 230px;
}

.data button {
  background-color: #affff6;
  cursor: pointer;
  width: 60px;
  height: 30px;
  border-radius: 3%;
  border: none;
}

.data button:hover {
  background-color: #affff6;
}

#descobrir {
  margin-left: 275px;
    margin-top: 47px;
    color: #affff6;
}


.segundo{
background-color: rgb(255, 255, 255);

}




/* body {
 background-color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.navbar{
  background-color: aqua;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 100% 10px;
  margin: 0;
}

#logo{
    width: 110px;
    height: 50px;
    margin-right: 250px;
   
    
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding-top: 50px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
}

ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

button {
  border: solid rgba(40, 209, 221, 0.5);
    background-color: rgba(40, 209, 221, 0.5);
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.corpo{
 display: flex;
   flex-direction: column;
   width: 50%;
   justify-content: center;
   align-items: center;
   margin-right: 250px;
}

h1 {
  color: greenyellow;
   font-family: 'poppins', sans-serif;
  margin: 30px;
   font-size: 25px;
   margin-left: 300px;
   margin-top: 50px;
}

span{
  color: greenyellow;
   font-family:'poppins', sans-serif;
   font-size: 40px;
   margin-left: 300px;
   
     
}




.parte1{
  display: flex; 
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

h2{
  color: rgba(165, 235, 240, 0.5);
  font-family:'poppins', sans-serif;
  font-size: 30px;
  

  
}

#png{
  width: 460px;
    height: 300px;
    margin-left: 250px;
 
 
}


.showcase{
  background-image: url(./imagens/fundoshowcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  background-attachment: fixed;
  
  
} */
