* {
  margin: 0;
  padding: 0;
}


.container {
  width: 80%;
  margin: auto;
  height: 50px;
  margin-left: 30px;
}

/* Header */
.header {
  background-color: #232323;
  height: 70px;
  padding-top: 30px;
  margin: 0;
}

#logo {
  width: 160px;
  float: left;
  margin: -19px 0px 0px -246px;
}


/* NAV */
.nav ul {
  margin: 0;
}


.nav {
  float: right;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'Syne Mono', monospace;
}

.nav li {
  display: inline-block;
  padding: 20px;
  padding: 10px 20px 0 20px;
}

.nav button {
  border: solid rgba(40, 209, 221, 0.5);
  background-color: rgba(40, 209, 221, 0.5);
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.showcase3 {
  background-color: black;
  min-height: 600px;
}

.titulo1 {
  font-size: 20px;
padding-top: 50px;
padding-left: 500px;
color: rgba(144,238,144);
}

.texto1  {
  color: white;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 100px;
  width: 400px;
}

.texto1 span {
  color: rgba(0,191,255);
  font-size: 20px;
}

.foto1 img{
  width: 600px;
  height: 350px;
  margin-left: 600px;
  margin-top: -900px;
  margin-bottom: 30px;
  border-radius: 30px;
}

.titulo2 {
  font-size: 20px;
padding-top: 30px;
padding-left: 560px;
color: rgba(144,238,144);
margin-top: 40px;
}

.texto2  {
  color: white;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 100px;
  width: 300px;
  justify-content: center;
}

.texto2 span {
  color: rgba(0,191,255);
  font-size: 20px;
}

.foto2 img{
  width: 600px;
  height: 350px;
  margin-left: 600px;
  margin-top: -280px;
  border-radius: 30px;
}

.texto3  {
  color: white;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 100px;
  width: 300px;
  justify-content: center;
}

.texto3 span {
  color: rgba(0,191,255);
  font-size: 20px;
}


.foto3 img{
  width: 600px;
  height: 350px;
  margin-left: 600px;
 margin-top: -700px;
 border-radius: 30px;
}

.texto4  {
  color: white;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 100px;
  width: 400px;
  justify-content: center;
}

.texto4 span {
  color: rgba(0,191,255);
  font-size: 20px;
}


.foto4 img{
  width: 600px;
  height: 350px;
  margin-left: 600px;
 margin-top: -300px;
 border-radius: 30px;
}

.texto5  {
  color: white;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 100px;
  width: 400px;
  justify-content: center;
}

.texto5 span {
  color: rgba(0,191,255);
  font-size: 20px;
}


.foto5 img{
  width: 600px;
  height: 350px;
  margin-left: 600px;
 margin-top: -300px;
 border-radius: 30px;
}

.texto6  {
  color: white;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 100px;
  width: 300px;
  justify-content: center;
}

.texto6 span {
  color: rgba(0,191,255);
  font-size: 20px;
}


.foto6 img{
  width: 600px;
  height: 350px;
  margin-left: 600px;
 margin-top: -450px;
 border-radius: 30px;
}

.texto7 {
  color: white;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 100px;
  width: 250px;
  justify-content: center;
}

.texto7 span {
  color: rgba(0,191,255);
  font-size: 20px;
}


.foto7 img{
  width: 600px;
  height: 350px;
  margin-left: 600px;
 margin-top: -450px;
 border-radius: 30px;
}

.texto8 {
  color: white;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 100px;
  width: 400px;
  justify-content: center;
}

.texto8 span {
  color: rgba(0,191,255);
  font-size: 20px;
}


.foto8 img{
  width: 600px;
  height: 350px;
  margin-left: 600px;
 margin-top: -450px;
 border-radius: 30px;
}

